version: "3.9"

services:
  db:
    image: postgres:15
    container_name: dzvolunteer-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: malak123
      POSTGRES_DB: dzvolunteerdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
